<div class="banner">
  <div class="text-center">
  <div class="row">
    <h1 class="col-12 mb-5">Lisbon Pop Up Art Auctions</h1>
    <%# <h3><span class="quote mt-5" data-controller="typed-js"></span></h3> %>
  </div>
    <a class="col btn btn-flat btn-lg mb-5" href="https://www.meetup.com/lisbon-pop-up-art-auctions/events/287511242/" target="_blank">RSVP now</a>
    <h3>"Art should comfort the disturbed and disturb the comfortable." - Banksy</h3>
  </div>
</div>


<div class=" text-center mt-5">
  <div class="row">
    <div class="col-sm-6 col-lg-6">
      <h2>Where:</h2>
      <p class="text-center">Rove Lisbon</p>
      <p class="text-center">Praça Luís de Camões 22 1 andar, 1200-283 Lisboa, Portugal</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3113.3182824479295!2d-9.14612028433272!3d38.710500965543574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd193579ba507a7d%3A0x19acd905e13407f3!2sRove%20Lisboa!5e0!3m2!1sen!2ses!4v1660051825185!5m2!1sen!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-sm-6 col-lg-6">
     <h2>When:</h2>
     <p class="text-center">Tuesday, August 16th, 2022</p>
     <%# <p>To Be Announced</p> %>
     <p class="text-center">7:30pm - 9:30pm</p>
     <div class="text-center">

     </div>
    </div>
  </div>

<div class="content">
  <div class="cards">


      <%= image_tag("DSC08638.jpg", class: "card") %>
      <%= image_tag("DSC08646.jpg", class: "card") %>
      <%= image_tag("DSC08648.jpg", class: "card") %>
      <%= image_tag("DSC08672.jpg", class: "card") %>
      <%= image_tag("DSC08726.jpg", class: "card") %>
      <%= image_tag("DSC08816.jpg", class: "card") %>
      <%= image_tag("DSC08862.jpg", class: "card") %>
      <%= image_tag("DSC08883.jpg", class: "card") %>
      <%= image_tag("DSC09003.jpg", class: "card") %>
      <%= image_tag("DSC09007.jpg", class: "card") %>
      <%= image_tag("DSC09058.jpg", class: "card") %>
      <%= image_tag("DSC09061.jpg", class: "card") %>
      <%= image_tag("DSC09069.jpg", class: "card") %>
      <%= image_tag("DSC09072.jpg", class: "card") %>
      <%= image_tag("DSC09082.jpg", class: "card") %>
      <%= image_tag("DSC09107.jpg", class: "card") %>
      <%= image_tag("DSC09121.jpg", class: "card") %>
      <%= image_tag("DSC09125.jpg", class: "card") %>
      <%= image_tag("DSC09128.jpg", class: "card") %>
      <%= image_tag("DSC09148.jpg", class: "card") %>
      <%= image_tag("DSC09174.jpg", class: "card") %>
      <%= image_tag("DSC09175.jpg", class: "card") %>
      <%= image_tag("DSC09187.jpg", class: "card") %>
      <%= image_tag("DSC09198.jpg", class: "card") %>
      <%= image_tag("DSC09224.jpg", class: "card") %>
      <%= image_tag("DSC09226.jpg", class: "card") %>
      <%= image_tag("DSC09236.jpg", class: "card") %>
      <%= image_tag("DSC09251.jpg", class: "card") %>
      <%= image_tag("DSC09282.jpg", class: "card") %>



  </div>
</div>

<div class="text-center d-flex flex-column align-items-center p-5">
    <div class="row">
      <div class="col-12">
        <h2>What is it about?</h2>
        <p class="mt-5 mb-5">This is an event to bring together local artists to showcase their work and for new or emerging collectors to engage and bid on art while connecting with these artists at select locations around Lisbon.  There will be a range of artists and styles to bid on, however it will mainly be original art.</p>
        <h2>Why are you running them?</h2>
        <p class="mt-5 mb-5">The aim of these events is to promote local talent like recent graduates in fine arts or up and coming street artists. Lisbon is a creative hub and growing, the objective of these events are to show that collecting art does not need to be ambigious and how artistic value can greatly enhance your life.</p>
        <h2 class="mt-5 mb-5">How does it work?</h2>
          <ol>
            <li>All artists will display their artwork at the location before bidding begins.</li>
            <li>There will be two rounds of auctions.  First round is starts with min. bid of 20€, and increments in 5€ however artists reserve the right to a reserve price <i>(a min. price the artist is willing to sell)</i> and if not met, artist is not obligated to complete the sale.</li>
            <li>The second round will have an 80€ min bid and first bid and increments will be made at the discrection of the auctioneer.  Artist still has a right to a reserve price.</li>
            <li>All payments are done between collector and artist, cash is preferred, however MB Way, PayPal and Wise can be used.</li>
          </ol>
      </div>
    </div>
</div>
